.note-section {
  position: relative;
  margin: 40px;
  display: inline-block;
  cursor: pointer;
  
    -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 29px #222);

  vertical-align: top; /* <--- Add this line */

}
.note-section:hover{
  transform:rotate(-3deg);
  transition: transform 0s ease-in;
}

.pin-img {
  max-width: 20%;
  height:auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 3;
  pointer-events: none;
  container-name: sidebar
}

.tape-img {
  max-width: 50%;
  height:auto;
  position: absolute;
  top: 0;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: 3;
  pointer-events: none;
  container-name: sidebar
}

.post-it-img {
  width: 100%;
  height:auto;
  display: block;
  z-index: 1;
}

.note-text {
  position: absolute;
  top: 10%;
  /*top: 30px; /* Override with ID */
  left: 10%; /* Override with ID */
  right: 10%; /* Override with ID */
  font-family: handwritten; 
  z-index: 2;
  pointer-events: none;

 /* font-size: 15px; */
}

.note-img{
  max-width:80%;
  transform:rotate(-3deg);
  z-index: 2;
  pointer-events: none;
  border-left: solid black;
  border-right: solid;
  border-width: 20px;

  outline: 5px solid rgb(241, 241, 241); /* This adds the outer white border */
  outline-offset: 0px;        /* Optional: tweak to move it slightly away */
}



/* 
@media only screen and (max-width: 200px) {
  .note-text {
    font-size: 5px;
  }
}
*/ 

/* Fall effect */
.note-section.fall {
  transition: transform 1s ease-in, opacity 1s ease-in;
  transform: translateY(600px) rotate(25deg);
  opacity: 0;
  pointer-events: none;
}


.drawing-section{
  font-family: handwritten;


  position: relative;
  margin: 40px;
  display: inline-block;
  cursor: pointer;

  vertical-align: top;

}

.drawing-section:hover{
  transform:rotate(-3deg);
  transition: transform 0s ease-in;
}


.drawing-text{
  text-decoration: none;
}

.offsetter{
  transform: translate(var(--x-offset, 0px), var(--y-offset, 0px)) rotate(0deg);
}
.offsetter:hover{
  transform: translate(var(--x-offset, 0px), var(--y-offset, 0px)) rotate(-3deg);
}


a{
  text-decoration: none;
  color: black
}
a:hover{
  text-decoration: underline;
}


@font-face {
    font-family: 'handwritten'; /* Name the font family */
    src: url('Assets/Fonts/dreaming-outloud-pro-regular.otf'); /* Path to the font file */
}

#mainBody{
  background-image: url('Assets/Backgrounds/cartboardSheet.png');
  background-size: 120%;
  display: grid
}




#HeaderSection{
  max-width: 50%;
  min-width: 200px;
}

#IntroductionSection{
  max-width: 35%;
  min-width: 200px;
}

#github-icon{
  max-width: 50%;
}

#reload-icon{
  max-width: 50%;
}

#gotoImage{
  top: 35%;
  left: 20%;
  max-width: 50%;
}

#main{
  align-self: top;
}





